# Ignore compiled binary
/bin/

# Ignore object files
/obj/

# Ignore generated vector data
*.json

# Ignore any log or temporary files that might be generated
*.log
*.tmp
*.temp

# MacOS specific files to ignore
.DS_Store

# Ignore editor settings and backup files
*~
.vscode/
.idea/

# Ignore build files
Makefile.out
