# Compiled object files
*.o
*.so

# Precompiled Headers
*.gch
*.pch

# Compiled binary executables
/bin/

# Object files
/obj/

# Backup files
*~

# Other files that should not be committed
.DS_Store
*.swp
